*{
    margin: 0;
    padding: 0;
}

body {
    width: 1200px;
    height: 2273px;
    margin: 0 auto;
}

.container {
    width: 1067px;
    margin: 0 auto;
    overflow: auto;
    border: 1px solid black;

    
}

.cls {
    
    display: block;
    clear: both;
    float: left;
}

.head_nav {
    height: 41px;
    background-color: #010302;
    display: flex;
    align-items: center;
}

.nav_list {
    display: flex;
   
}

a.logo {
    display: block;
    float: left;
}

ul.nav_list {
    float: right;
}





.main_fotel {
    height: 503px;
    background-image: -webkit-gradient(linear, 0 0, 0 488, color-stop(0.059, #fafafa), color-stop(0.993, #ceced6), to(#c8cbd2));
    background-image: -webkit-linear-gradient(#fafafa 5.9%, #ceced6 99.3%, #c8cbd2);
    background-image: -moz-linear-gradient(#fafafa 5.9%, #ceced6 99.3%, #c8cbd2);
    background-image: -o-linear-gradient(#fafafa 5.9%, #ceced6 99.3%, #c8cbd2);
    background-image: linear-gradient(#fafafa 5.9%, #ceced6 99.3%, #c8cbd2);
    overflow: auto;
} 

.fotel_content {
    display: flex;
    justify-content: flex-start;
}



.l_enc {
    display: block;
    width: 53px;
    height: 53px;
    border: 2px solid black;
    margin-left: 0;
    margin-top: 233px;
}

.r_enc {
    display: block;
    width: 53px;
    height: 53px;
    border: 2px solid black;
    margin-left: 87px;
    margin-top: 233px;
}

.fotel_photo {
    background-image: url(../images/black_chair.png);
    background-position: center;
    background-size: cover;
    display: block;
    width: 320px;
    height: 321px;
    border: 2px solid black;
    margin-top: 111px;
    margin-left: 41px;
}


.fotel_col_right {
    display: block;
    
    width: 422px;
    height: 241px;
    border: 2px solid black;
    margin-top: 140px;
    margin-left: 66px;
    overflow: hidden;
}

.fotel_col_right_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}








.main_chairs {
    height: 351px;
    background-image: -webkit-gradient(linear, 0 0, 930 0, to(#fff));
background-image: -webkit-linear-gradient(360deg, #fff);
background-image: -moz-linear-gradient(360deg, #fff);
background-image: -o-linear-gradient(360deg, #fff);
background-image: linear-gradient(90deg, #fff);
    
    
}

.chairs_content {
   display: flex;
   flex-direction: row;
justify-content: flex-start;
margin-top: 60px;
}

.lphoto {
    
    display: block;
    box-sizing: border-box;
    width: 331px;
    height: 226px;
    border: 2px solid black;
    margin-left: -1px;
    margin-top: -32px;
    
}

.rphoto {

    box-sizing: border-box;
    display: block;
    width: 331px;
    height: 226px;
    border: 2px solid black;
    margin-top: -32px;
    margin-left: 28px;
   

}

.opis {
    
    display: block;
    width: 335px;
    height: 249px;
    border: 2px solid black;
    margin-top: -32px;
    margin-left: 26px;

    
}



.main_cennik {
    height: 725px;
    background-image: -webkit-gradient(linear, 0 0, 957 0, to(#f1f1f1));
background-image: -webkit-linear-gradient(360deg, #f1f1f1);
background-image: -moz-linear-gradient(360deg, #f1f1f1);
background-image: -o-linear-gradient(360deg, #f1f1f1);
background-image: linear-gradient(90deg, #f1f1f1);
}

.napis_cennik {
    display: block;
    position: relative;
    width: 316px;
    height: 34px;
    margin-top: 42px;
    margin-left: 0;
    border: 2px solid black;
}

.plans {
    display: flex;
    justify-content: flex-start;
}

.basic {
    display: block;
    box-sizing: border-box;
    width: 330px;
    height: 499px;
    border: 2px solid black;
    margin-left: 0px;
    margin-top: 75px;

}

.standard {
    box-sizing: border-box;
    display: block;
    width: 330px;
    height: 499px;
    border: 2px solid black;
    margin-top: 75px;
    margin-left: 30px;
}

.advance {
    display: block;
    width: 326px;
    height: 499px;
    border: 2px solid black;
    margin-top: 75px;
    margin-left: 31px;

}


.main_formularz {
    height: 582px;
    background-image: -webkit-gradient(linear, 0 0, 957 0, to(#fff));
background-image: -webkit-linear-gradient(360deg, #fff);
background-image: -moz-linear-gradient(360deg, #fff);
background-image: -o-linear-gradient(360deg, #fff);
background-image: linear-gradient(90deg, #fff);
}

.main_foot {
    height: 67px;
    background-color: lightslategray;
}
