*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('../fonts/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
    width: 1200px;
    height: 2273px;
    margin: 0 auto;
    font-family: 'ralewayregular',Tahoma;
}

.container {
    width: 1067px;
    margin: 0 auto;
   

    
}

.cls {
    
    display: block;
    clear: both;
    float: left;
}

.head_nav {
    height: 41px;
    background-color: #010302;
    display: flex;
    align-items: center;
}

.nav_list {
    display: flex;
    align-items: center;
   
}

a[name="logo"]{
    display: block;
    float: left;

    font-weight: 500;
    color:#fff;
}

span[name="logo"]{
    color: #1ebda1;
}

li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
}

ul.nav_list{
    display: flex;
    justify-content: flex-end;
    
}

ul.nav_list li[name="h_list"]:last-child{
    margin-left: 33px;
    margin-right: 5px;
}

ul.nav_list li[name="h_list"]:nth-child(2){
    margin-left: 41px;
    margin-right: 0;
}

.nav_drop::before{
    content: "";
    display: block;
    height: 10px;
    width: 10px;
    background-color: #010302;
    transform: rotate(45deg);
    margin-top: -5px;
    margin-left: 45px;
}

ul.nav_drop {
    height: 97px;
    width: 120px;
    background-color: #010302;
    color: #fff;
    margin-top: 23px;
    margin-left: -17px;
}

ul.nav_drop li[name="v_list"] a{
    padding-top: 5px;
}

li {
    display: block;
    transition-duration: 0.5s;
   }
   
   li:hover {
     cursor: pointer;
   }
   
   ul li ul {
     visibility: hidden;
     opacity: 0;
     position: absolute;
     transition: all 0.5s ease;
     margin-top: 1rem;
    
     display: none;
   }
   
   ul li:hover > ul,
   ul li ul:hover {
     visibility: visible;
     opacity: 1;
     display: block;
   }
   
   ul li ul li {
       
     clear: both;
     width: 100%;
   }
   
   .nav_drop li[name="v_list"] {
    padding-top: 11px;
    padding-left: 10px;
}
   
a.aDrop{
    font-size: 15px;
    font-weight: 500;
}

.main_fotel {
    height: 503px;
    background-image: -webkit-gradient(linear, 0 0, 0 503, from(#f7f7f7), color-stop(0.992, #ceced6), to(#c9ccd3));
background-image: -webkit-linear-gradient(#f7f7f7, #ceced6 99.2%, #c9ccd3);
background-image: -moz-linear-gradient(#f7f7f7, #ceced6 99.2%, #c9ccd3);
background-image: -o-linear-gradient(#f7f7f7, #ceced6 99.2%, #c9ccd3);
background-image: linear-gradient(#f7f7f7, #ceced6 99.2%, #c9ccd3);
    overflow: auto;
   
} 

.fotel_content {
    display: flex;
    justify-content: flex-start;
}



.l_enc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 28px;
    
    margin-left: 0;
    margin-top: 240px;
    font-size: 77px;
    color: #27c7ab;
    cursor: pointer;

}

.r_enc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 28px;
    
    margin-left: 95px;
    margin-top: 240px;
    font-size: 77px;
    color: #27c7ab;
    cursor: pointer;

}

.black_chair {
    background-image: url(../images/black_chair.png);
    background-position: center;
    background-size: 593px 424px;
    image-rendering: auto;
    width: 333px;
    height: 339px;
    margin-top: 110px;
    margin-left: 38px;
    visibility: visible;
}
.orange_chair {
    background-image: url(../images/orange_chair.png);
    background-position: center;
    background-size: 469px 337px;
    image-rendering: auto;
    width: 333px;
    height: 339px;
    border-bottom: 71.85%;
    margin-top: -335px;
    margin-left: 38px;
    visibility: hidden;
    position: absolute;
}




.fotel_col_right {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    width: 422px;
    height: 241px;

    margin-top: 140px;
    margin-left: 66px;
    overflow: hidden;
}

.fotel_col_right_content {
    display: flex;
    justify-content: center;
   
    margin-top: 0;
    width: 420px;
    height: 30px;

    
}

article.fotel_article{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 87px;
    width: 420px;
    text-align: center;
    position: relative;
}
h1[name="sitOn"]{
    font-size: 40px;
    padding-left: 23px;
    font-weight: 500;
    color: #010302;
    top: -7px;
    position: relative;
    letter-spacing: 0px;
}


span[name="chair"]{
    letter-spacing: 2px;
    font-weight: 700;
    color: #28b99c;
}

p[name="fotel_article"]{
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    position: absolute;
    top: 4px;
    left: 3px;
    padding: 2px;
}

a[name="fotel_button"] {
    display: flex;
    justify-content: center;
    align-items: center;
  font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;

    width: 264px;
    height: 53px;
    margin-top: 31px;
    margin-left: 18px;
    background-color: #24ba9f;
    border-radius: 10px;
    color: #fff;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
}








.main_chairs {
    height: 351px;
    background-image: -webkit-gradient(linear, 0 0, 930 0, to(#fff));
    background-image: -webkit-linear-gradient(360deg, #fff);
    background-image: -moz-linear-gradient(360deg, #fff);
    background-image: -o-linear-gradient(360deg, #fff);
    background-image: linear-gradient(90deg, #fff);
}

.chairs_content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 60px;
}

.lphoto {
    display: block;
    box-sizing: border-box;
    background-image: url(../images/box1_img.jpg);
    background-size: cover;
    width: 331px;
    height: 226px;
    border: 2px solid #dedede;
    margin-left: -1px;
    margin-top: -32px;
    
}



.lphoto_napis , .rphoto_napis{
    width: 100%;
    height: 61px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.374);
    margin-top: 148px;
    padding-top: 12px;
    padding-left: 13px;
   
}

p[name="photo_opis"]{
    font-size: 16px;
    border-bottom: #24ba9f 8px solid;
}
.border_limit{
    width: 138px;
  
}

.rphoto{
    box-sizing: border-box;
    display: block;
    background-image: url(../images/box2_img.jpg);
    background-size: cover;
    width: 331px;
    height: 226px;
    border: 2px solid #dedede;
    margin-top: -32px;
    margin-left: 28px;
}

.opis {
    display: block;
    width: 339px;
    height: 255px;
    border: 2px solid #dedede;
    margin-top: -32px;
    margin-left: 26px;
    position: relative;
    
}

h2.opis_nag{
    font-size: 16px;
    border-bottom: 8px solid #25c6a9;
    margin-top: 25px;
    margin-left: 21px;
    width: 138px;
}

.border_limit2 {
    width: 150px;
    height: auto;
}

div.opis_p{
    width: 286px;
    height: 140px;
    
    position: absolute;
    top: 65px;
    left: 19px;
    display: block;
    
}

p[name='article1'], p[name="article2"] {
    font-size: 14px;
    line-height: 15px;
}
p[name="article2"]{
    margin-top: 29px;
    line-height: 19px;
    font-size: 14px;
}



.main_cennik {
    height: 726px;
    background-image: -webkit-gradient(linear, 0 0, 957 0, to(#f1f1f1));
background-image: -webkit-linear-gradient(360deg, #f1f1f1);
background-image: -moz-linear-gradient(360deg, #f1f1f1);
background-image: -o-linear-gradient(360deg, #f1f1f1);
background-image: linear-gradient(90deg, #f1f1f1);
}

.napis_cennik {
    display: block;
    position: relative;
    width: 316px;
    height: 34px;
    margin-left: 0;
    padding-top: 42px;
}

h2[name="cennik"]{
    font-size: 22px;
    font-weight: 400;
    color: #858585;
    border-bottom: 8px solid #24ba9e;
    position: relative;
    top: 2px;
    padding-bottom: 5px;

}

.plans {
    display: flex;
    justify-content: flex-start;
}

.basic {
    display: block;
    box-sizing: border-box;
    width: 330px;
    height: 500px;
    background-color: #f9f9f9;
    border: 2px solid #d5d5d5;
    margin-left: 0px;
    margin-top: 119px;
    text-align: center;
    position: relative;
}

.basic::before{
    content: "";
    width: 55px;
    height: 55px;
    background-color: #f9f9f9;
    border: 2px solid #d5d5d5;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -40px;
    left: 136px;
    border-radius: 50%;
    
}

.basic::after{
    content: "";
    width: 25px;
    height: 25px;
    background-color: #d5d5d5;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -23px;
    left: 153px;
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 330px;
    height: 500px;
}

.basic_napis {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 322px;
    height: 24px;
    margin-top: 27px;
    margin-left: 0px;
    color: #36cba8;
    text-align: center;
    align-items: center;
    font-size: 22px;
    font-weight: 500;

}
.standard .basic_napis{
    color: #fff;
}

.cennik_circle {
    display: block;
    width: 125px;
    height: 125px;
    margin-top: 23px;
    margin-left: -3px;
    background-color: #ffffff;
    border: 2px solid #d5d5d5;
    border-radius: 50%;
    position: relative;
}

.circle_content{
    height: 84px;
    width: 90px;
    margin: 20px auto;
    color: #bfbfbf;
   
}
p[name="price"]{
    padding-top: 8px;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 0px;
    display: flex;
    justify-content: center;
}
sup{
        font-size: 16px;
    font-weight: 700;
}




.cennik_opis {
   
   
    height: auto;
    margin-top: 28px;
    margin-left: -5px;

}

.cennik_opis, p[name="opis"] {

    width: 327px;
    font-size: 24px;
    line-height: 43px;
    box-sizing: border-box;
}


.cennik_opis p:nth-child(even){
    background-color: #f1f1f1;
    color: #8d8d8d;
}

.cennik_opis p:nth-child(odd){
    background-color: #e4e4e4;
    color: #9e9e9e;
}

.standard .cennik_opis p:nth-child(even){
    background-color: #f1f1f1;
}
.standard .cennik_opis p:nth-child(odd){
    background-color: #fff;
}




.button_flex {
    display: flex;
    
    justify-content: center;
    width: 237px;
    height: 93px;
    margin-top: 64px;

   
}

.basic_button{
    display: flex;
    align-items: center;
    justify-content: center;
  font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;

    width: 122px;
    height: 35px;
    margin-top: 40px;
    color: #fff;
    background-color: #27c7ab;
    border-radius: 8px;
    cursor: pointer;

}

.standard {
    box-sizing: border-box;
    display: block;
    width: 330px;
    height: 500px;
    background-color: #27c7ab;
    border: 2px solid #27c7ab;
    margin-top: 119px;
    margin-left: 30px;
    text-align: center;
    position: relative;

}

.standard::before{
    content: "";
    width: 53px;
    height: 53px;
    background-color: #27c7ab;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -39px;
    left: 138px;
    border-radius: 50%;
    
}

.standard::after{
    content: "";
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -24px;
    left: 152px;
}

.standard_circle {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 125px;
    margin-top: 23px;
     background-color: #ffffff;
    border: 2px solid #d5d5d5;
    border-radius: 50%;
}

.standard .circle_content{
   color: #27c7ab;
}


.button_div {
    display: block;
    width: 237px;
    height: 53px;
    margin-top: 65px;
    margin-left: 0;
}


.standard_button {
    display: flex;
    align-items: center;
    justify-content: center;
  font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;

    width: 122px;
    height: 35px;
    margin-top: 0px;
    margin-left: 58px;
    color: #27c7ab;
    background-color: #ffffff;
    border-radius: 8px;
    cursor: pointer;

}




.advance {
    display: block;
    width: 326px;
    height: 497px;
    background-color: #f9f9f9;
    border: 2px solid #d5d5d5;
    margin-top: 119px;
    margin-left: 31px;
    text-align: center;
    position: relative;

}

.advance::before{
    content: "";
    width: 55px;
    height: 55px;
    background-color: #f9f9f9;
    border: 2px solid #d5d5d5;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -40px;
    left: 136px;
    border-radius: 50%;
    
}

.advance::after{
    content: "";
    width: 25px;
    height: 25px;
    background-color: #d5d5d5;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -23px;
    left: 153px;
}

.advance_opis {
    display: block;
    width: 324px;
    height: 176px;
    margin-top: 36px;
    margin-left: -4px;
    border: 2px solid #d5d5d5;
}



.button_div_adv {
    display: block;
    width: 237px;
    height: 53px;
    margin-top: 17px;
    margin-left: 0;
}

.advance_button {
    display: flex;
    align-items: center;
    justify-content: center;
  font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;

    width: 122px;
    height: 35px;
    margin-top: 0px;
    margin-left: 58px;
    color: #fff;
    background-color: #27c7ab;
    border-radius: 8px;
    cursor: pointer;

}

div.advance_opis p:nth-child(2n +1){
    background-color: #e4e4e4;;
}

div.advance_opis p:nth-child(even){
    background-color: #f1f1f1;;
}

.main_formularz {
    height: 561px;
    background-image: -webkit-gradient(linear, 0 0, 957 0, to(#fff));
background-image: -webkit-linear-gradient(360deg, #fff);
background-image: -moz-linear-gradient(360deg, #fff);
background-image: -o-linear-gradient(360deg, #fff);
background-image: linear-gradient(90deg, #fff);
position: relative;
}

.formularz_napis{
    display: block;
    width: 320px;
    height: 50px;
    position: absolute;
    margin-left: 5px;
    margin-top: 36px;    
}

h2[name="form_napis"]{
    font-size: 22px;
    font-weight: 500;
    color: #626262;
    border-bottom: 8px solid #24ba9e;
    position: relative;
    top: -4px;
    padding-bottom: 5px;
}

div p[name="form_napis"]{
    font-size: 20px;
    font-weight: 200;
    border-bottom: #24ba9f;
    border-bottom-width: 8px;
    border-bottom-style: solid;

}

.formularz_position {
    display: flex;
    align-items: center
}

.formularz_in{
    display: block;
    width: 629px;
    height: 368px;
    margin-left: 7px;
    margin-top: 111px;
}

input[name="name"] {
    display: block;
    width: 633px;
    height: 64px;
    margin-top: 5px;
    border: 1px solid #c1ebe0;
}

input[name='email'] {
    display: block;
    width: 633px;
    height: 67px;
    margin-top: 26px;
    border: 1px solid #c1ebe0;

}

textarea {
    display: block;
    width: 633px;
    height: 187px;
    margin-top: 26px;
    resize: none;
    font-family: 'Raleway';
    font-size: 33px;
    padding-left: 15px;
    padding-top: 12px;
    border: 1px solid #c1ebe0;
    box-sizing: border-box;

}

.formularz_right {
    display: block;
    width: 342px;
    height: 382px;
    margin-left: 61px;
    margin-top: 101px;
}

.formularz_right_image {
    background-image: url(../images/red_chair.png);
    background-size: 261px 208px;
    background-repeat: no-repeat;
    background-position-y: -20px;
    background-position-x: 19px;
    
    display: block;
    width: 340px;
    height: 200px;
    margin-top: 9px;
   
}

input[type="checkbox"] {
    display: block;
    width: 50px;
    height: 49px;
    margin-top: -4px;
    margin-left: 1px;
    border: 1px solid #bbeadd;
    
    
}

/*
input[type="checkbox"] + label span {
    display:inline-block;
    width:48px;
    height:40px;
    border: 2px solid black;
    background-color: #fff;
    cursor: pointer;
}

input[type="checkbox"] + label span{
    background-image: url(../images/form_ok.jpg);
}*/

input{
    font-size: 33px;

}

input::placeholder{
    font-family: 'Raleway';
    font-size: 33px;
    box-sizing: border-box;
    padding-left: 10px;
    opacity: 0.3;


}
textarea[name="textarea"]:placeholder{
    font-family: 'Raleway';
    font-size: 33px;
    box-sizing: border-box;
    padding-left: 10px;
    opacity: 0.3;

}


.checkbox_flex {
    display: flex;
    justify-content: flex-start;
    height: 55px;
    width: 340px;
    margin-top: 26px;
}

.checkbox_flex label {
    font-size: 19px;
    width: 281px;
    height: 20px;
    margin-left: 19px;
    margin-top: -4px;
    padding: 2px;
    box-sizing: border-box;
}




.form_button {
    display: flex;
    width: 340px;
    height: 70px;
    margin-top: 26px;
    align-items: center;
  
}

a[name="form_button"] {
    display: flex;
    justify-content: center;
    align-items: center;
  font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;

    width: 340px;
    height: 70px;
    background-color: #27c7ab;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    font-size: 33px;
    font-weight: 700;
    cursor: pointer;

}








.main_foot {
    height: 67px;
    background-color: #fff;
    overflow: hidden;
}

.foot_position {
    display: flex;
    align-items: center;
}

.foot_left_text {

     font-size: 15px;
     color: #aaaaaa;
     letter-spacing: 1px;
     width: 412px;
     height: 65px;
     margin-left: 0;
     margin-top: 0;
     display: flex;
     align-items: center;
}

.foot_middle {
    display: flex;
    align-items: center;
    width: 151px;
    height: 65px;
    margin-left: 285px;
    margin-top: -14px;
}

.flickr {
    height: 35px;
    width: 35px;
    background-image: url(../images/flickr.png);
    background-size: 35px 35px;
    background-repeat: no-repeat;
    margin-top: 3px;
    margin-left: 0px;
    cursor: pointer;
}

.vimeo {
    height: 35px;
    width: 35px;
    background-image: url(../images/vimeo.png);
    background-size: 35px 35px;
    background-repeat: no-repeat;
    margin-top: 3px;
    margin-left: 3px;
    cursor: pointer;

}

.pinterest {
    height: 35px;
    width: 35px;
    background-image: url(../images/pinterest.png);
    background-size: 35px 35px;
    background-repeat: no-repeat;
    margin-top: 3px;
    margin-left: 5px;
    cursor: pointer;

}

.twitter {
    height: 35px;
    width: 35px;
    background-image: url(../images/twitter.png);
    background-size: 35px 35px;
    background-repeat: no-repeat;
    margin-top: 3px;
    margin-left: 3px;
    cursor: pointer;

}

.foot_right_text {
    display: flex;
    align-items: center;
    color: #aaaaaa;
    font-size: 20px;
    font-weight: 500;
    width: 145px;
    height: 65px;
    margin-left: 67px;
    margin-top: 0;
}
